.seatBar {
  margin:0 auto;
  lost-utility: clearfix;

  &__seat {
    position: relative;
    lost-column: 1/3;
  }

  &__button {
    width: 100%;
    height: 100px;
  }

  &__removeButton {
    position: absolute;
    right: 0;
    top:0;
  }
}
